In [1]:
from sqlalchemy import create_engine
import pyodbc
import pandas as pd
import numpy as np
import time

# 1读取数据库数据表

In [2]:
engine = create_engine('mssql+pyodbc://sa:suzhou@.\SQLEXPRESS/FCDBackup20100900_new?driver=SQL server')

In [3]:
with engine.connect() as conn,conn.begin():
    data = pd.read_sql_table('VehicleData20100901',conn)

In [4]:
data.head()

,ID,CompanyID,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,GPSSpeed,GPSDirection,PassengerState,ReadFlag,CreateDate
0,6304,None,806584008859,2010-09-01 00:01:42,118.855043,31.939446,0.0,0.0,0,0,2010-09-01 00:01:42.730
1,6381,None,806770549907,2010-09-01 00:01:45,118.749090,32.089162,30.0,6.0,1,0,2010-09-01 00:01:45.140
2,6460,None,806770943693,2010-09-01 00:01:46,118.856236,32.094288,26.0,318.0,1,0,2010-09-01 00:01:46.747
3,6537,None,806914743134,2010-09-01 00:01:48,118.836872,31.931645,0.0,0.0,0,0,2010-09-01 00:01:48.733
4,6615,None,806451847007,2010-09-01 00:01:51,118.795597,32.039382,20.0,10.0,0,0,2010-09-01 00:01:51.590

In [5]:
len(data)

18668073

# 2样本筛选分析

In [6]:
dm = data[data['VehicleSimID'] == '806584008859']

In [7]:
dm = dm[['VehicleSimID','GPSTime','GPSLongitude','GPSLatitude','PassengerState']]

In [9]:
dm.to_excel(r'D:\Vgis_data\Multi-Source-Data\show\SIM_806584008859.xlsx',sheet_name='a')

In [10]:
dm.head()

,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,PassengerState
0,806584008859,2010-09-01 00:01:42,118.855043,31.939446,0
17774,806584008859,2010-09-01 00:04:14,118.855038,31.939426,0
27998,806584008859,2010-09-01 00:04:57,118.855024,31.939432,0
36769,806584008859,2010-09-01 00:05:35,118.855055,31.939318,0
47558,806584008859,2010-09-01 00:06:20,118.855182,31.938821,0

## 获取O点

In [16]:
def get_orig():
    appended_data = []
    if dm['PassengerState'][0] == 1:
        df_first = dm.iloc[0:1,:]
        Orig = dm['PassengerState'].diff() == 1
        appended_data.append(df_first)
        appended_data.append(dm[Orig])
    else:
        Orig = dm['PassengerState'].diff() == 1
        appended_data.append(dm[Orig])
    return appended_data

In [12]:
data_o = get_orig()
All_Orig = pd.concat(data_o,axis=0)
All_Orig

,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,PassengerState
374463,806584008859,2010-09-01 00:29:32,118.872466,31.941964,1
7262193,806584008859,2010-09-01 08:40:49,118.872645,31.942027,1
7735372,806584008859,2010-09-01 09:14:20,118.849378,31.952004,1
8215564,806584008859,2010-09-01 09:48:16,118.823456,31.914543,1
8307591,806584008859,2010-09-01 09:54:46,118.822055,31.896905,1
8758750,806584008859,2010-09-01 10:26:36,118.824048,31.913635,1
11410397,806584008859,2010-09-01 13:37:06,118.783159,31.944999,1
11808313,806584008859,2010-09-01 14:05:13,118.816266,31.933043,1
12275684,806584008859,2010-09-01 14:38:19,118.859807,31.939852,1
12832480,806584008859,2010-09-01 15:17:38,118.880155,31.961259,1
13205515,806584008859,2010-09-01 15:43:59,118.874450,31.982446,1
13941971,806584008859,2010-09-01 16:36:13,118.872324,31.941960,1
14160478,806584008859,2010-09-01 16:51:41,118.908122,31.932554,1
14570598,806584008859,2010-09-01 17:20:55,118.877091,31.932761,1
15649074,806584008859,2010-09-01 18:39:09,118.872496,31.941823,1
16561833,806584008859,2010-09-01 20:02:26,118.921393,32.051963,1
16995559,806584008859,2010-09-01 20:51:31,118.847813,31.948955,1
17359267,806584008859,2010-09-01 21:19:45,118.816250,31.933300,1
17745567,806584008859,2010-09-01 21:49:10,118.831489,31.910687,1
17975025,806584008859,2010-09-01 22:06:47,118.844502,31.925630,1
18274438,806584008859,2010-09-01 22:29:51,118.827674,31.954150,1
18453419,806584008859,2010-09-01 20:03:49,118.921103,32.048881,1
18460264,806584008859,2010-09-01 19:08:16,118.855591,31.955378,1
18487077,806584008859,2010-09-01 16:38:11,118.889116,31.932155,1
18508749,806584008859,2010-09-01 14:40:26,118.862465,31.929187,1
18571430,806584008859,2010-09-01 08:56:02,118.869681,31.948251,1

In [13]:
len(All_Orig)

26

## 获得D点

In [17]:
def get_dest():
    Dest = dm['PassengerState'].shift(-1).diff() == -1
    return Dest

In [20]:
data_d = get_dest()
All_Dest =dm[data_d]
All_Dest

,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,PassengerState
573065,806584008859,2010-09-01 00:43:39,118.818469,31.945203,1
7622213,806584008859,2010-09-01 09:06:20,118.846691,31.949271,1
8042172,806584008859,2010-09-01 09:35:58,118.824595,31.911223,1
8283322,806584008859,2010-09-01 09:53:03,118.822043,31.896929,1
8691730,806584008859,2010-09-01 10:21:54,118.821884,31.914805,1
9586743,806584008859,2010-09-01 11:25:10,118.725646,31.656411,1
11448201,806584008859,2010-09-01 13:39:47,118.782375,31.936879,1
11878067,806584008859,2010-09-01 14:10:09,118.803395,31.923832,1
12805381,806584008859,2010-09-01 15:15:43,118.880787,31.964085,1
13181342,806584008859,2010-09-01 15:42:18,118.874386,31.982365,1
13273196,806584008859,2010-09-01 15:48:46,118.852865,31.965338,1
14018317,806584008859,2010-09-01 16:41:37,118.914656,31.933717,1
14244476,806584008859,2010-09-01 16:57:39,118.871840,31.942231,1
14605316,806584008859,2010-09-01 17:23:22,118.877206,31.942781,1
16091880,806584008859,2010-09-01 19:12:59,118.864906,31.945631,1
16651843,806584008859,2010-09-01 20:12:26,118.922059,32.039932,1
17164679,806584008859,2010-09-01 21:04:56,118.816164,31.936671,1
17370395,806584008859,2010-09-01 21:20:35,118.816287,31.930966,1
17746107,806584008859,2010-09-01 21:49:13,118.831471,31.910919,1
18043755,806584008859,2010-09-01 22:12:05,118.851803,31.914733,1
18278485,806584008859,2010-09-01 22:30:10,118.828448,31.953932,1
18453419,806584008859,2010-09-01 20:03:49,118.921103,32.048881,1
18461809,806584008859,2010-09-01 18:59:16,118.864808,31.961666,1
18487077,806584008859,2010-09-01 16:38:11,118.889116,31.932155,1
18515078,806584008859,2010-09-01 14:06:02,118.814591,31.930327,1
18571430,806584008859,2010-09-01 08:56:02,118.869681,31.948251,1

## 去获取OD经纬度坐标

In [19]:
dk = pd.DataFrame(np.random.randn(int(len(All_Orig)),4),
                  columns=['GPSLongitude_O','GPSLatitude_O','GPSLongitude_D','GPSLatitude_D'])

All_Orig.reset_index(inplace=True)
All_Dest.reset_index(inplace=True)

for i in range(0,len(All_Orig)):
    dk['GPSLongitude_O'][i] = All_Orig['GPSLongitude'][i]
    dk['GPSLatitude_O'][i] = All_Orig['GPSLatitude'][i]
    dk['GPSLongitude_D'][i] = All_Dest['GPSLongitude'][i]
    dk['GPSLatitude_D'][i] = All_Dest['GPSLatitude'][i]

In [21]:
All_Orig.reset_index(inplace=True)
All_Dest.reset_index(inplace=True)

for i in range(0,len(All_Orig)):
    dk['GPSLongitude_O'][i] = All_Orig['GPSLongitude'][i]
    dk['GPSLatitude_O'][i] = All_Orig['GPSLatitude'][i]
    dk['GPSLongitude_D'][i] = All_Dest['GPSLongitude'][i]
    dk['GPSLatitude_D'][i] = All_Dest['GPSLatitude'][i]

In [23]:
for i in range(0,len(All_Orig)):
    dk['GPSLongitude_O'][i] = All_Orig['GPSLongitude'][i]
    dk['GPSLatitude_O'][i] = All_Orig['GPSLatitude'][i]
    dk['GPSLongitude_D'][i] = All_Dest['GPSLongitude'][i]
    dk['GPSLatitude_D'][i] = All_Dest['GPSLatitude'][i]

In [24]:
dk

    GPSLongitude_O  GPSLatitude_O  GPSLongitude_D  GPSLatitude_D
0       118.872466      31.941964      118.818469      31.945203
1       118.872645      31.942027      118.846691      31.949271
2       118.849378      31.952004      118.824595      31.911223
3       118.823456      31.914543      118.822043      31.896929
4       118.822055      31.896905      118.821884      31.914805
5       118.824048      31.913635      118.725646      31.656411
6       118.783159      31.944999      118.782375      31.936879
7       118.816266      31.933043      118.803395      31.923832
8       118.859807      31.939852      118.880787      31.964085
9       118.880155      31.961259      118.874386      31.982365
10      118.874450      31.982446      118.852865      31.965338
11      118.872324      31.941960      118.914656      31.933717
12      118.908122      31.932554      118.871840      31.942231
13      118.877091      31.932761      118.877206      31.942781
14      118.872496      31.941823      118.864906      31.945631
15      118.921393      32.051963      118.922059      32.039932
16      118.847813      31.948955      118.816164      31.936671
17      118.816250      31.933300      118.816287      31.930966
18      118.831489      31.910687      118.831471      31.910919
19      118.844502      31.925630      118.851803      31.914733
20      118.827674      31.954150      118.828448      31.953932
21      118.921103      32.048881      118.921103      32.048881
22      118.855591      31.955378      118.864808      31.961666
23      118.889116      31.932155      118.889116      31.932155
24      118.862465      31.929187      118.814591      31.930327
25      118.869681      31.948251      118.869681      31.948251

# 3全数据应用

## 按照SIMID进行聚合，便于后续筛选OD点

In [25]:
data.head()

,ID,CompanyID,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,GPSSpeed,GPSDirection,PassengerState,ReadFlag,CreateDate
0,6304,None,806584008859,2010-09-01 00:01:42,118.855043,31.939446,0.0,0.0,0,0,2010-09-01 00:01:42.730
1,6381,None,806770549907,2010-09-01 00:01:45,118.749090,32.089162,30.0,6.0,1,0,2010-09-01 00:01:45.140
2,6460,None,806770943693,2010-09-01 00:01:46,118.856236,32.094288,26.0,318.0,1,0,2010-09-01 00:01:46.747
3,6537,None,806914743134,2010-09-01 00:01:48,118.836872,31.931645,0.0,0.0,0,0,2010-09-01 00:01:48.733
4,6615,None,806451847007,2010-09-01 00:01:51,118.795597,32.039382,20.0,10.0,0,0,2010-09-01 00:01:51.590

In [26]:
data = data[['VehicleSimID','GPSTime','GPSLongitude','GPSLatitude','PassengerState']]

In [27]:
data.head()

   VehicleSimID             GPSTime  GPSLongitude  GPSLatitude  PassengerState
0  806584008859 2010-09-01 00:01:42    118.855043    31.939446               0
1  806770549907 2010-09-01 00:01:45    118.749090    32.089162               1
2  806770943693 2010-09-01 00:01:46    118.856236    32.094288               1
3  806914743134 2010-09-01 00:01:48    118.836872    31.931645               0
4  806451847007 2010-09-01 00:01:51    118.795597    32.039382               0

In [28]:
gp = data.sort_values(by=['VehicleSimID','GPSTime']).groupby(by='VehicleSimID')

In [29]:
len(gp)

7648

## 获取所有的O点

In [30]:
def get_orig():
    appended_data = []
    for dm in gp:
        dm = list(dm)[1]
        dm.reset_index(inplace=True)
        if dm['PassengerState'][0] == 1:
            df_first = dm.iloc[0:1,:]
            Orig = dm['PassengerState'].diff() == 1
            appended_data.append(df_first)
            appended_data.append(dm[Orig])
        else:
            Orig = dm['PassengerState'].diff() == 1
            appended_data.append(dm[Orig])
    return appended_data

In [31]:
data_o = get_orig()
All_Orig = pd.concat(data_o,axis=0)
All_Orig

,index,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,PassengerState
0,985,806401925019,2010-09-01 00:00:11,118.897901,32.099258,1
72,721762,806401925019,2010-09-01 00:54:16,118.796564,32.084281,1
154,1304460,806401925019,2010-09-01 01:35:41,118.733251,32.060164,1
186,1534085,806401925019,2010-09-01 01:52:02,118.779898,32.097912,1
403,3267543,806401925019,2010-09-01 03:58:12,118.789257,32.097113,1
433,3490410,806401925019,2010-09-01 04:13:55,118.737237,32.060738,1
893,18572724,806401925019,2010-09-01 08:49:01,118.764758,32.102249,1
948,7855842,806401925019,2010-09-01 09:22:50,118.743957,32.081940,1
1013,8419385,806401925019,2010-09-01 10:02:40,118.814068,31.970107,1
1072,8942582,806401925019,2010-09-01 10:39:35,118.839264,31.962469,1
1140,9513930,806401925019,2010-09-01 11:20:00,118.794077,31.987351,1
1151,9594739,806401925019,2010-09-01 11:25:46,118.787280,31.989162,1
1177,9813364,806401925019,2010-09-01 11:41:17,118.766753,32.006093,1
1225,10209035,806401925019,2010-09-01 12:09:14,118.799492,31.997672,1
1266,10538611,806401925019,2010-09-01 12:32:31,118.738414,32.043285,1
1361,18521295,806401925019,2010-09-01 13:32:40,118.765214,32.101861,1
1402,11681864,806401925019,2010-09-01 13:56:17,118.834825,32.121531,1
1444,12031332,806401925019,2010-09-01 14:20:58,118.872446,32.118582,1
1493,12424499,806401925019,2010-09-01 14:48:49,118.795054,32.098583,1
1508,12541792,806401925019,2010-09-01 14:57:05,118.776832,32.092212,1
1551,12876061,806401925019,2010-09-01 15:20:44,118.760427,32.049508,1
1607,13336730,806401925019,2010-09-01 15:53:16,118.787461,32.089671,1
1671,13847419,806401925019,2010-09-01 16:29:30,118.782340,32.040643,1
1715,14205229,806401925019,2010-09-01 16:54:52,118.752701,32.083734,1
1745,14448749,806401925019,2010-09-01 17:12:16,118.819894,32.081196,1
1784,14772723,806401925019,2010-09-01 17:36:51,118.794971,32.098579,1
0,7210,806401925023,2010-09-01 00:01:57,118.850319,31.995310,1
51,519924,806401925023,2010-09-01 00:39:51,118.824593,32.021570,1
76,748891,806401925023,2010-09-01 00:56:13,118.791859,32.035566,1
128,1116260,806401925023,2010-09-01 01:22:20,118.777542,32.040547,1
...,...,...,...,...,...,...
2113,17727400,808850724814,2010-09-01 21:47:48,118.739417,32.083334,1
2136,17912838,808850724814,2010-09-01 22:02:00,118.739099,32.083145,1
2162,18132283,808850724814,2010-09-01 22:18:56,118.783722,32.097240,1
832,6901599,808950598417,2010-09-01 08:15:14,118.668600,32.055485,1
859,7373807,808950598417,2010-09-01 08:48:43,118.765711,32.072238,1
973,8361314,808950598417,2010-09-01 09:58:34,118.748185,31.990207,1
1022,8751014,808950598417,2010-09-01 10:26:03,118.769288,32.010049,1
1092,9321517,808950598417,2010-09-01 11:06:24,118.745239,32.048256,1
1108,9454407,808950598417,2010-09-01 11:15:48,118.737304,32.056383,1
1156,9862127,808950598417,2010-09-01 11:44:43,118.788760,32.045549,1
1198,10186283,808950598417,2010-09-01 12:07:38,118.765978,32.069137,1
1278,10837525,808950598417,2010-09-01 12:56:38,118.720766,32.012101,1
1346,11411166,808950598417,2010-09-01 13:37:10,118.723183,32.022583,1
1355,11472968,808950598417,2010-09-01 13:41:32,118.728819,32.034941,1
1373,11619247,808950598417,2010-09-01 13:51:51,118.734243,32.027599,1
1419,11996738,808950598417,2010-09-01 14:18:31,118.749207,32.089093,1
1483,12533365,808950598417,2010-09-01 14:56:29,118.722614,32.127069,1
1537,12977085,808950598417,2010-09-01 15:27:53,118.630172,32.066857,1
1628,13705163,808950598417,2010-09-01 16:19:21,118.616000,32.073451,1
1751,14708268,808950598417,2010-09-01 17:32:16,118.771283,32.079628,1
1776,15160137,808950598417,2010-09-01 18:04:32,118.768807,32.052866,1
1780,15185829,808950598417,2010-09-01 18:06:23,118.766507,32.053497,1
1823,15531567,808950598417,2010-09-01 18:30:50,118.749155,32.090533,1
1868,15898294,808950598417,2010-09-01 18:57:21,118.767669,32.037084,1
1892,16096462,808950598417,2010-09-01 19:16:34,118.810573,32.022451,1
1967,16731846,808950598417,2010-09-01 20:24:41,118.782450,32.040639,1
2028,17256127,808950598417,2010-09-01 21:11:50,118.765695,32.044685,1
2065,17530279,808950598417,2010-09-01 21:32:52,118.770345,32.072104,1
2087,17717442,808950598417,2010-09-01 21:47:03,118.730688,32.078739,1
2117,17958766,808950598417,2010-09-01 22:05:28,118.737271,32.058677,1

In [32]:
All_Orig.to_csv(r'D:\Vgis_data\Multi-Source-Data\show\All_Orig.csv')

## 获取所有的D点

In [39]:
def get_dest():
    appended_data = []
    for dm in gp:
        dm = list(dm)[1]
        Dest = dm['PassengerState'].shift(-1).diff() == -1
        appended_data.append(dm[Dest])
    return appended_data

In [40]:
data_d = get_dest()
All_Dest = pd.concat(data_d,axis=0)
All_Dest

,VehicleSimID,GPSTime,GPSLongitude,GPSLatitude,PassengerState
73543,806401925019,2010-09-01 00:08:11,118.911964,32.097319,1
877649,806401925019,2010-09-01 01:05:23,118.774099,32.052147,1
1398276,806401925019,2010-09-01 01:42:22,118.762776,32.080459,1
1605911,806401925019,2010-09-01 01:57:08,118.794756,32.101033,1
3457948,806401925019,2010-09-01 04:11:38,118.737247,32.059107,1
3516887,806401925019,2010-09-01 04:15:47,118.733339,32.069126,1
18566745,806401925019,2010-09-01 09:21:27,118.743870,32.081643,1
8369216,806401925019,2010-09-01 09:59:08,118.811435,31.967386,1
8699105,806401925019,2010-09-01 10:22:25,118.871285,31.941820,1
9043084,806401925019,2010-09-01 10:46:41,118.807405,31.973172,1
9550993,806401925019,2010-09-01 11:22:38,118.780741,31.986365,1
9779623,806401925019,2010-09-01 11:38:53,118.765777,32.004714,1
9948430,806401925019,2010-09-01 11:50:50,118.769299,31.992133,1
10412283,806401925019,2010-09-01 12:23:35,118.745997,32.033786,1
10833153,806401925019,2010-09-01 12:53:19,118.758871,32.085887,1
11621328,806401925019,2010-09-01 13:52:01,118.836766,32.125926,1
11972628,806401925019,2010-09-01 14:16:49,118.874952,32.116434,1
12322096,806401925019,2010-09-01 14:41:35,118.804592,32.104363,1
12514046,806401925019,2010-09-01 14:55:07,118.778517,32.092285,1
12864225,806401925019,2010-09-01 15:19:53,118.760025,32.049665,1
13273567,806401925019,2010-09-01 15:48:47,118.792323,32.087418,1
13835569,806401925019,2010-09-01 16:28:39,118.782381,32.040791,1
14112588,806401925019,2010-09-01 16:48:17,118.765335,32.072794,1
14397513,806401925019,2010-09-01 17:08:39,118.815190,32.087022,1
14614847,806401925019,2010-09-01 17:24:02,118.823547,32.104072,1
14843725,806401925019,2010-09-01 17:42:07,118.781110,32.096271,1
47937,806401925023,2010-09-01 00:06:22,118.858174,31.988009,1
670116,806401925023,2010-09-01 00:50:35,118.806667,32.034135,1
959356,806401925023,2010-09-01 01:11:11,118.778636,32.020559,1
1174470,806401925023,2010-09-01 01:26:28,118.791143,32.035115,1
...,...,...,...,...,...
17613528,808850724814,2010-09-01 21:39:08,118.734872,32.055668,1
17790195,808850724814,2010-09-01 21:52:35,118.750168,32.085891,1
18118216,808850724814,2010-09-01 22:17:47,118.783118,32.097314,1
7322161,808950598417,2010-09-01 08:45:03,118.762404,32.075279,1
8015563,808950598417,2010-09-01 09:34:05,118.784591,31.991995,1
8615036,808950598417,2010-09-01 10:16:30,118.769525,32.010046,1
9117559,808950598417,2010-09-01 10:51:56,118.773218,32.052281,1
9388931,808950598417,2010-09-01 11:11:10,118.734714,32.055724,1
9760751,808950598417,2010-09-01 11:37:33,118.782734,32.052175,1
10165972,808950598417,2010-09-01 12:06:11,118.766804,32.069861,1
10485789,808950598417,2010-09-01 12:28:47,118.745297,32.019678,1
10837525,808950598417,2010-09-01 12:56:38,118.720766,32.012101,1
11455794,808950598417,2010-09-01 13:40:19,118.728781,32.034816,1
11555968,808950598417,2010-09-01 13:47:23,118.740085,32.029880,1
11732334,808950598417,2010-09-01 13:59:51,118.725377,32.044430,1
12121647,808950598417,2010-09-01 14:27:25,118.770654,32.085487,1
12695872,808950598417,2010-09-01 15:07:59,118.659851,32.098307,1
13204611,808950598417,2010-09-01 15:43:56,118.627564,32.066592,1
14443433,808950598417,2010-09-01 17:11:54,118.792020,32.087771,1
14889064,808950598417,2010-09-01 17:45:18,118.733786,32.049453,1
15160138,808950598417,2010-09-01 18:04:32,118.768807,32.052866,1
15383595,808950598417,2010-09-01 18:20:22,118.748908,32.087535,1
15808737,808950598417,2010-09-01 18:50:28,118.766187,32.043456,1
16082385,808950598417,2010-09-01 19:12:13,118.762043,32.046675,1
16146508,808950598417,2010-09-01 19:21:02,118.822103,32.021609,1
16919137,808950598417,2010-09-01 20:45:03,118.756869,32.028589,1
17377284,808950598417,2010-09-01 21:21:08,118.749428,32.075745,1
17686824,808950598417,2010-09-01 21:44:44,118.731949,32.075875,1
17856275,808950598417,2010-09-01 21:57:36,118.735857,32.056020,1
18157319,808950598417,2010-09-01 22:20:49,118.756362,32.083968,1

In [41]:
All_Dest.to_csv(r'D:\Vgis_data\Multi-Source-Data\show\All_Dest.csv')

## 获取所有的OD点坐标

In [42]:
def get_data(dt):    
    appended_data_orig = []
    dm = list(dt)[1]
    dm.reset_index(inplace=True)
    if dm['PassengerState'][0] == 1:
        df_first = dm.iloc[0:1,:]
        Orig = dm['PassengerState'].diff() == 1
        appended_data_orig.append(df_first)
        appended_data_orig.append(dm[Orig])
    else:
        Orig = dm['PassengerState'].diff() == 1
        appended_data_orig.append(dm[Orig])
#########################################################

    appended_data_dest = []
    dm = list(dt)[1]
    Dest = dm['PassengerState'].shift(-1).diff() == -1
    appended_data_dest.append(dm[Dest])
######################################################### 
    All_Orig = pd.concat(appended_data_orig,axis=0)    
    All_Dest = pd.concat(appended_data_dest,axis=0)    
    
#########################################################
    if len(All_Orig) > len(All_Dest):
        number = len(All_Dest)
    else:
        number = len(All_Orig)

#########################################################
    dk = pd.DataFrame(np.random.randn(int(number),4),
                      columns=['GPSLongitude_O','GPSLatitude_O','GPSLongitude_D','GPSLatitude_D'])

    All_Orig.reset_index(inplace=True)
    All_Dest.reset_index(inplace=True)

    for i in range(0,int(number)):
        dk['GPSLongitude_O'][i] = All_Orig['GPSLongitude'][i]
        dk['GPSLatitude_O'][i] = All_Orig['GPSLatitude'][i]
        dk['GPSLongitude_D'][i] = All_Dest['GPSLongitude'][i]
        dk['GPSLatitude_D'][i] = All_Dest['GPSLatitude'][i]
    return dk

In [47]:
for dt in gp:
    appended_data = get_data(dt)
    appended_data.to_sql('OD_DATA',engine,if_exists='append')

In [49]:
for dt in gp:
    appended_data = get_data(dt)
    appended_data.to_csv(r'D:\Vgis_data\Multi-Source-Data\show\OD_DATA2.csv',mode='a',header=False,index=False)